body {
    background: #F6F6F4;
    color: #111111;
}

nav {
    background: moccasin;
    color:#111111;
    border: 6px solid #111111;
}

header {
    background: beige;
    color: black;
    border: 6px solid #111111;
}

h1 {
    color: oliveDrab;
}

img {
    width: 420px;
    height: 260px;
    border: 6px solid darkOliveGreen;
}

aside {
    background: rgb(168, 43, 70);
    color: #f6f6f4;
    border: 6px solid #111111;
}

main {
    background: blueViolet;
    border: 6px solid #111111;
}

article{
    background: #f6f6f4;
    border: 3px solid #111111;
}

section {
    background: rgb(255, 245, 188);
    border: 6px solid oliveDrab;
}

h2 {
    color:rgb(168, 43, 70);
}

h3 {
    color: oliveDrab;
}

footer {
    background:#111111;
    color: #F6F6F4;
    border: 6px solid #FACB37;
    height: 260px;
}