body {
    background: #F6F6F4;
    color: #111111;
}

nav {
    background-color: #FACB37;
    color:#111111;
    border: 6px solid #111111;
}

header {
    background-color: #3153D1;
    color: #f6f6f4;
    border: 6px solid #111111;
}

h1 {
    color: #FACB37;
}

img {
    width: 420px;
    height: 260px;
    border: 6px solid #f6f6f4;
}

aside {
    background-color: #D83134;
    color: #f6f6f4;
    border: 6px solid #111111;
}